# Expo inside pnpm workspaces needs these hoisting settings
node-linker=hoisted
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*@expo*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*@tauri-apps*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*typescript*
verify-deps-before-run=false
